@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

#navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 75px;
    gap: 10px;
     
}

.navegation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 481.56px;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 9.75px;
}

.logo p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 30.0036px;
    line-height: 45px;
    color: #000000;
}

.menu_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40.5px;
    width: 632.3px;
    height: 47px;
}

.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 48.76px;
    width: 489.79px;
    height: 27px;
}

.link a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16.502px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #242323;
    text-decoration: none;    
}

.sign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 17px;
    gap: 10px;
    width: 102px;
    height: 47px;
    background: #000000;
    border-radius: 5.25062px;
}

.sign a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #FEFEFE;
    text-decoration: none;
}

#h{  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 75px 44px;
    gap: 10px;
}

.sec_h{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50.99px 40px 2px;
    gap: 38px;
    background: #F4F6F5;
    border-radius: 44.26px;
}

.c_1{
    position: absolute;
    width: 348.6px;
    height: 84.12px;
    left: 299.52px;
    top: 300.15px;
    background: #FFFFFF;
    transform: rotate(-2deg);  
}

.text_h{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 0px 27.75px;
    gap: 27px;
    isolation: isolate;
    width: 482.3px;
}

.let{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 72.0085px;
    line-height: 90px;
    color: #000000;
}

.live{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24.0028px;
    line-height: 36px;
    letter-spacing: -0.05em;
    color: #191818;
}

.butt{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 25.5px;
    width: 333.02px;
    height: 60px;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px 30px;
    gap: 10px;
    width: 165px;
    height: px;
    background: #000000;
    border-radius: 7.50089px;
}

.button a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22.5027px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    text-decoration: none;
}

.woman{
    width: 668.01px;
    height: 588.07px;
}

#brands{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 41px 128px;
    gap: 10px;
    background: #EBD96B;
}

.fr{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 90.76px;
    height: 53.01px;
}

.fr img{
    background-blend-mode: darken; 
    mix-blend-mode: multiply;  
}

#arrivals{
    display: flex;
    flex-direction: column;
    padding: 52px 78px 69.05px; 
    gap: 10px;
    background: #FFFFFF;
}

.newA{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 76px;
    height: 720.07px;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    isolation: isolate;
    height: 38px;
}

.title p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 36.0043px;
    line-height: 38px;
    letter-spacing: 0.06em;
    color: #000000;
}

.cardsAr{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 95px;
    height: 606.07px; 
}

.cardA{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 21px;
    width: 350.04px;
    height: 606.07px;
}

.inf{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 98.26px;
    width: 363.04px;
    height: 57.01px;
}

.text_inf{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5.25px;
    width: 240.78px;
    height: 57.01px;
}

.name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24.0028px;
    line-height: 38px;
    letter-spacing: -0.04em;
    color: #191919;
}

.explore{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18.0021px;
    line-height: 38px;
    letter-spacing: -0.04em;
    color: #7F7F7F;
}

#favourite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 75px;
    gap: 10px;
    background: #FFFFFF;
}

.young{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 78px;
    height: 625.31px;
}

.tittle_young p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 36.0043px;
    line-height: 38px;    
    color: #000000;
}

.cards_fav{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
}

.cardF{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 21px;
    width: 627.5px;
    height: 509.31px;
}

.c_inf_F{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 343.54px;
    width: 627.5px;
    height: 57.01px;
}

.text_f{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5.25px;
}

.F{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24.0028px;
    line-height: 38px;
    letter-spacing: -0.04em;
    color: #000000;
}

.G{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18.0021px;
    line-height: 38px;
    letter-spacing: -0.04em;
    color: #7F7F7F;
}

#download{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 71px 164px 94px;
    gap: 176px;
}

.app_down{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 380px;
    height: 286.52px;
}

.text_app{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30.75px;
    width: 380px;
    height: 184.51px;
}

.text_down{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 36.0043px;
    line-height: 150%;
    letter-spacing: 0.06em;
    color: #000000;
    width: 382px;
    height: 108px;
}

.get{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18.0021px;
    line-height: 26px;
    letter-spacing: -0.04em;
    color: #7C7C7C;
    width: 380px;
    height: 108px;
}

.links_down{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 45px;
    gap: 14.25px;
}

#community{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 111px 341.29px;
    gap: 10px;
    background: #E5C643;
}

.in_com{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 18px;
}

.join{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 28px;
    width: 757.42px;   
}

.t_join{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 41.2549px;
    line-height: 53px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.t_type{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24.0028px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFCF8;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    gap: 20px;
    width: 500.77px;
    height: 65px;
    background: #FFFFFF;
    border-radius: 7.50089px;
}

.t_form{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18.0021px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #767676;
}

.but_send{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 26px;
    gap: 10px;
    width: 118px;
    height: 49px;
    background: #000000;
    border-radius: 6.00071px;
}

.send{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24.7529px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
}

#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 89px 75px 110px;
    gap: 10px;
    background: #000000;
}

.infooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 311px;    
}

.fas{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 30.0036px;
    line-height: 45px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.comple{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18.0021px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #8E8E8E;
}

.midias{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10.5px;
}
